<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<!--   IE浏览器与web标准不兼容 -->
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
		<!-- 清除缓存 -->
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta name="author" content="独泪了无痕" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/tempalate/table.css" />
	</head>

	<body>
		<div class="container">
			<div class="content">
				<div style="width:100%;">
					<div style="padding: 10px">
						<div class="column"><span class="current">基本信息</span></div>
						<table class="kv-table">
							<tbody>
								<tr>
									<td class="kv-label">标题</td>
									<td class="kv-content">内容</td>
									<td class="kv-label">标题</td>
									<td class="kv-content">内容</td>
									<td class="kv-label">标题</td>
									<td class="kv-content">内容</td>
									<td class="kv-label">标题</td>
									<td class="kv-content">内容</td>
								</tr>
								<tr>
									<td class="kv-label">标题</td>
									<td class="kv-content" colspan="7">内容</td>
								</tr>
							</tbody>
						</table>
						<div class="column"><span class="current">证件信息</span></div>
						<table class="kv-table">
							<tbody>
								<tr>
									<td class="kv-label">营业执照</td>
									<td class="kv-content" colspan="7"><a>营业执照.jpg</a></td>
								</tr>
							</tbody>
						</table>
						<div class="column"><span class="current">联系信息</span></div>
						<table class="kv-table">
							<tbody>
								<tr>
									<td class="kv-label">联系人</td>
									<td class="kv-content">独泪了无痕</td>
									<td class="kv-label">联系手机</td>
									<td class="kv-content">155XXXX5362</td>
									<td class="kv-label">联系人邮箱</td>
									<td class="kv-content">duleilewuhen@sina.com</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>